<div class="">Hello its demo theme block </div>

{% schema %}
  {
    "name": "Block name",
    "settings": [
      {
        "type": "header",
        "content": "This is demo theme block content",
        "info": "This is info"
      }
    ],
    "presets": [
      {
        "name": "Demo Theme Block"
      }
    ]
  }
{% endschema %}