<div class="">{{ block.settings.demo_text }} </div>

<div class="">

  <img src="{{ block.settings.demo_image | img_url: 'master' }}"> 
</div>
{% schema %}
  {
    "name": "Block name",
    "settings": [
      {
        "type": "text",
        "id": "demo_text",
        "default": "This is demo theme block content",
        "label": "This is info"
      },
      {
      "type": "image_picker",
      "id": "demo_image",
      "label": "Choose Image"
      }
    ],
    "presets": [
      {
        "name": "Demo Theme Block"
      }
    ]
  }
{% endschema %}