<div class="">{{ block.settings.demo_text }} </div>

{% schema %}
  {
    "name": "Block name",
    "settings": [
      {
        "type": "text",
        "id": "demo_text",
        "default": "This is demo theme block content",
        "label": "This is info"
      }
    ],
    "presets": [
      {
        "name": "Demo Theme Block"
      }
    ]
  }
{% endschema %}