{%- liquid
assign class_name = block.settings.class_name
    assign backgroundColor= block.settings.background_color
    assign backgroundImage = block.settings.background_image
    assign html_width = block.settings.html_width
    assign mobile_width = block.settings.mobile_html_width
-%}
<div class="block-{{ block.id }}">
{% content_for 'blocks' %}
</div>

{% style %}
  .block-{{ block.id }}{
    {% if html_width != 100 %}
      max-width: {{ html_width }}%;
  {% endif %}
{% if backgroundImage != blank %}
  background-image:url({{ backgroundImage | img_url:"master" }});
    {% endif %}
  }
{% endstyle %}
{% schema %}
{
  "name": "Grid Box Only",
  
 
      
      "settings": [
        {
          "type": "text",
          "label": "Class Name",
          "id": "class_name"
        },
        {
          "type": "image_picker",
          "label": "Background Image",
          "id": "background_image"
        },
        {
          "type": "color_background",
          "label": "Background Color",
          "id": "background_color"
        },
        {
          "type": "select",
          "label": "Background Size",
          "id": "background_size",
          "default": "cover",
          "options": [
            {
              "label": "Cover",
              "value": "cover"
            },
            {
              "label": "Contain",
              "value": "contain"
            },
            {
              "label": "Auto",
              "value": "auto"
            }
          ]
        },
        {
      "type": "range",
      "label": "Html Width",
      "id": "html_width",
      "default": 100,
      "min": 2,
      "max": 100,
      "step": 2,
      "unit": "%"
    },
    {
      "type": "range",
      "label": "Mobile Html Width",
      "id": "mobile_html_width",
      "default": 100,
      "min": 2,
      "max": 100,
      "step": 2,
      "unit": "%"
    },
        {
          "type": "textarea",
          "label": "Custom CSS",
          "id": "custom_css"
        },
        {
          "type": "range",
          "label": "Number of Columns",
          "id": "number_of_columns",
          "default": 1,
          "min": 1,
          "max": 12,
          "step": 1
        },
        {
          "type": "range",
          "label": "Number of Columns on Mobile",
          "id": "number_of_columns_on_mobile",
          "default": 3,
          "min": 1,
          "max": 12,
          "step": 1
        },
        {
          "type": "range",
          "label": "Gap",
          "id": "gap",
          "default": 0,
          "min": 0,
          "max": 10,
          "step": 0.1,
          "unit": "rem"
        },
        {
          "type": "range",
          "label": "Column Gap",
          "id": "column_gap",
          "default": 0,
          "min": 0,
          "max": 10,
          "step": 0.1,
          "unit": "rem"
        }
      ],

 
  "blocks": [{"type": "@theme", "type": "@app"}],
  "presets": [
    {
      "name": "Grid Box normal"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
